spring:
  datasource:
      url: jdbc:postgresql://localhost:5432/lecture-management-db
      username: postgres
      password: 12345
      driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  liquibase:
    change-log: classpath:/db/changelog/changelog-master.xml
    enabled: true